@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  animation: 1s appear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  @apply bg-slate-900 w-3;
}

::-webkit-scrollbar-track {
  @apply bg-slate-700;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-slate-500 hover:bg-slate-400;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/* Styles for the phone input */

.PhoneInput {
  @apply h-12
  w-full
  rounded-lg
  focus:outline-none
  bg-transparent
  border
  border-cyan-600 focus-within:border-cyan-400;
}

.PhoneInputCountry {
  @apply h-12
    px-3
    flex justify-center items-center gap-1
    rounded-lg
    focus:outline-none
    cursor-pointer
    bg-transparent;
}

.PhoneInputInput {
  @apply h-12
  w-full
  rounded-lg
  focus:outline-none
  bg-transparent;
}

.PhoneInputCountrySelectArrow {
  width: 0.5rem !important;
  height: 0.5rem !important;
  color: #22d3ee !important;
}

select {
  @apply bg-slate-900;
}

* {
  --PhoneInput-color--focus: none !important;
  --PhoneInputInternationalIconPhone-opacity: 1 !important;
  --PhoneInputInternationalIconGlobe-opacity: 1 !important;
  --PhoneInputCountrySelectArrow-opacity: 1 !important;
}

.PhoneInputCountryIcon {
  @apply text-cyan-400;
}

select {
  cursor: pointer;
}
